# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project
Stash/
Backend/www/*/
.use-https
*/greenlock.d/accounts
*/greenlock.d/live
*/greenlock.d/config.json.bak
*/greenlock.d/config.json

Scoreboard/.preview.*
redis-server.exe
dump.rdb

# DigitalOcean
.nimbella
__deployer__.zip
__pycache__/
coverage/

.deployed
Functions/packages/*/*/modules