/* Raleway font */

@font-face {
	font-family: Raleway;
	src: url("/font/Raleway/Raleway-VariableFont_wght.ttf");
}

/* Rajdhani font */

@font-face {
	font-family: Rajdhani;
	src: url("/font/Rajdhani/Rajdhani-Light.ttf");
	font-weight: 200;
}

@font-face {
	font-family: Rajdhani;
	src: url("/font/Rajdhani/Rajdhani-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: Rajdhani;
	src: url("/font/Rajdhani/Rajdhani-Medium.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Rajdhani;
	src: url("/font/Rajdhani/Rajdhani-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: Rajdhani;
	src: url("/font/Rajdhani/Rajdhani-Bold.ttf");
	font-weight: 700;
}

/* 7 Segment font */

@font-face {
	font-family: DSEG7-Classic;
	src: url("/font/DSEG7-Classic/DSEG7Classic-Light.woff2");
	font-weight: 200;
}

@font-face {
	font-family: DSEG7-Classic;
	src: url("/font/DSEG7-Classic/DSEG7Classic-Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: DSEG7-Classic;
	src: url("/font/DSEG7-Classic/DSEG7Classic-Bold.woff2");
	font-weight: 700;
}
