html,
body {
	overflow: hidden;
	font-size: 100%;
	line-height: 1.5;

	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	height: fill-available;
	height: -webkit-fill-available;

	-webkit-tap-highlight-color: transparent;

	@media not all and (hover: hover) {
		height: var(--app-height);
	}
}

#root,
.App {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.App {
	display: grid;
	grid-template-rows: 1fr auto;
	justify-items: center;

	color: var(--global-color-text);
	font-family: Raleway;

	background-color: var(--global-color-background);
}
