.p-score {
	height: 100%;
	grid-template-rows: auto 1fr auto;
	.container {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-template-rows: auto auto auto;
		justify-items: center;
		align-self: center;
		height: fit-content;
		align-content: space-evenly;
		gap: 1rem;
		height: 100%;
	}

	.teamname {
		font-family: Rajdhani;
		font-size: 200%;
		font-weight: 600;
		width: 100%;
		overflow: hidden;
		text-align: center;
	}

	.seperator {
		text-align: center;
		justify-self: center;
		font-family: DSEG7-Classic;
		font-weight: 500;
		font-size: min(7.5rem, 20vmin);
		align-self: start;
		width: min-content;
	}

	.t-rocker + .seperator {
		height: 100%;
		text-align: center center;
		display: grid;
		place-items: center;
	}
}
