.p-users {
	height: 100%;
	grid-template-rows: 1fr auto;
	overflow: hidden;
	.grid {
		display: grid;
		gap: 1rem;
	}
	.list {
		display: flex;
		gap: 1rem;
		flex-direction: column;
	}
}

.c-setting {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 1rem;
	> * {
		width: fit-content;
	}
}

.c-setting + .c-setting {
	border-top: 1px solid #ccc;
	padding-top: 1rem;
}
