.p-page {
	display: grid;
	gap: 1rem;
	width: min(28rem, 100%);
	align-self: center;
	justify-self: center;
	height: fit-content;
	max-height: 100%;
	overflow: auto;
	overflow-x: hidden;
	flex-grow: 1;
	padding: 1rem;
}
