// WIP

.dark .c-bottomtab,
.light .c-bottomtab {
	--global-color-background-bottomtab: #353535;
	--global-color-background-bottomtab-selected: #2a2a2a;
}

.dlc .c-bottomtab {
	--global-color-background-bottomtab: #000000;
	--global-color-background-bottomtab-selected: #121212;
	border-top: var(--global-border-size) solid var(--global-color-text);
}

.c-bottomtab {
	width: 100%;
	background-color: var(--global-color-background-bottomtab);
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0;

	&__hidden {
		display: none !important;
	}

	&__page {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		border-radius: 1rem;
		cursor: pointer;

		&-name {
			display: none;
			width: 0%;
		}

		&-active {
			background-color: var(--global-color-background-bottomtab-selected);

			& .c-bottomtab__page-icon {
				stroke: var(--color--alpha);
			}

			& .c-bottomtab__page-name {
				color: var(--color--alpha);
				display: block;
				padding-left: 0.25rem;
			}
		}

		& svg {
			height: 1.2rem;
			color: var(--color-white);
		}
	}
}
