.c-bottomtab {
	width: 100%;
	background-color: var(--bottomtab-color-background);
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0;
	//add topshadow
	box-shadow: 0 0 0.125rem 0 var(--bottomtab-color-background);

	&__hidden {
		display: none !important;
	}

	&__page {
		display: flex;
		align-items: center;
		padding: 0.25rem 0.5rem;
		border-radius: 1rem;
		cursor: pointer;

		svg {
			height: 1.2rem;
			stroke: var(--bottomtab-color-icon);
		}

		&-name {
			display: none;
			width: 0%;
		}

		&-active {
			background-color: var(--bottomtab-color-background-selected);
			box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.3);

			& .c-bottomtab__page-icon {
				stroke: var(--bottomtab-color-selected-text);
			}

			& .c-bottomtab__page-name {
				color: var(--bottomtab-color-selected-text);
				display: block;
				padding-left: 0.25rem;
			}

			svg {
				stroke: var(--bottomtab-color-selected-text);
			}
		}
	}
}
