.c-clock {
	border: calc(2 * var(--global-border-size)) solid var(--global-color-button-border);
	border-radius: var(--global-border-radius);
	text-align: center;
	font-family: DSEG7-Classic;
	font-weight: 500;
	font-size: 3.5rem;
	justify-self: center;
	width: min(100%, 18rem);
}
