.c-modal {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;

	&__overlay {
		opacity: 0.7;
		z-index: 1;
		background-color: #121212;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&__container {
		padding: 1.25rem;
		background-color: var(--color-white);
		overflow-y: auto;
		width: 90%;
		margin: auto;
		z-index: 2;
		max-width: 25rem;
		display: grid;
		gap: 1.5rem;
	}

	&__hidden {
		display: none;
	}

	&__header {
		display: flex;
		justify-content: flex-end;

		& p {
			color: var(--color-black);
		}

		& svg {
			color: var(--color-black);
		}

		&-btn {
			// display: flex;
			// gap: 1.25rem;
			cursor: pointer;
		}
	}

	& p {
		color: var(--color-black);
		font-weight: bold;
		text-align: center;
	}

	&__btns {
		display: flex;
		justify-content: space-between;

		&-btn {
			width: 48%;
			cursor: pointer;
			padding: 0.2rem 0;
			text-align: center;
			font-size: 1.4rem;
			font-weight: bold;
		}

		&-prim {
			background-color: #353535;
			color: var(--color--alpha);
		}

		&-sec {
			border: 2px solid var(--color--alpha);
			color: var(--color--alpha);
		}
	}
}
