.c-scorebordToggle {
	width: 100%;
	// padding: 0 1rem;
	background-color: #353535;
	color: var(--color--alpha);
	font-size: 15px;
	font-weight: bold;
	height: 36px;
	position: relative;
	z-index: 1;

	&__btn {
		width: 50%;
		height: 100%;
		text-align: center;
		z-index: 2;
		cursor: pointer;

		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}

	&__active {
		background-color: #2a2a2a;
		position: absolute;
		height: 30px;
		top: 3px;
		width: 50%;
		left: 3px;
		transition: all 0.3s ease-in;

		&-left {
			transform: translate(0%, 0%);
		}

		&-right {
			transform: translate(96%, 0%);
		}
	}

	&__select {
		width: 50%;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		z-index: 2;

		& select {
			width: 100%;
			height: 100%;

			& option {
				background-color: #353535;
				color: var(--color-white);
				padding: 0 10px;
			}

			& option[value="0"] {
				display: none;
			}
		}
	}
}
