.c-textedit {
	header {
		display: flex;
		justify-content: space-between;
	}

	.textarea-container {
		position: relative;
		width: 100%;
		height: min-content;
		color: var(--global-color-text);

		label {
			position: absolute;
			top: 0;
			left: 1rem;
			padding-inline: 0.5rem;
			background-color: var(--global-color-card);
			color: var(--global-color-text);
			font-size: 1rem;
		}

		textarea {
			width: 100%;
			font-size: 1rem;
			margin-top: 0.75rem;
			border: var(--global-border-size) solid var(--global-color-accent-primary);
			height: 13.125rem;
			padding-inline: 1rem;
			border-radius: var(--global-border-radius);
			padding-top: 1rem;
		}
	}
}
